.navigationLink {
    color: white;
    border-radius: 10px;
    font-size:20px;
    background-color: #1abc9c !important;
    padding: 8px 10px;
    text-decoration:  none;
}

.navigationLink:hover {
    background-color: #148f77!important;
}

.title {
    font-size:20px;
    float:left;
    padding:5px;
}
